.clickable-header {
    font-weight: 900;
    background-color: lightpink; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    padding: 10px;
}

    .clickable-header:hover {
        background-color: #ffb3d9; 
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
    }

.icon {
    width: 20px; 
    height: 20px; 
    margin-left: 10px; 
}


@keyframes fadeInSlow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popOut {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.item-completed {
    text-decoration: line-through;
    color: #999;
}

.nav-link .bi {
    font-size: 1.8em; /* Adjust icon size if necessary */
    margin-right: 1rem; /* Space between icon and text */
}


