.button-container {
    display: flex;
    gap: 0.4rem;
}

.button-container>* {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #6200ea, #03dac5);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none;
    position: relative;
    overflow: hidden;
}

    .button-container > *::after {
        content: '';
        position: absolute;
        top: 0;
        left: -75%;
        width: 150%;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);
        transform: skewX(-45deg);
        transition: left 0.5s;
    }

    .button-container > *:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 15px rgba(98, 0, 234, 0.3);
    }

        .button-container > *:hover::after {
            left: 100%;
        }

    .button-container > *:active {
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba(98, 0, 234, 0.2);
    }

.cool-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    margin: 1.5rem 0;
 
    background: linear-gradient(90deg, #3498db, #9b59b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 
    4px 4px 10px rgba(52, 152, 219, 0.5), 
    6px 6px 12px rgba(155, 89, 182, 0.5); 
   
    letter-spacing: 0.05em;
}

@media (max-width: 768px) {
    .cool-header {
        font-size: 2rem;
    }
}

.styled-button {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #6200ea, #03dac5);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none;
    position: relative;
    overflow: hidden;
}

    /* Styling for the hover effect */
    .styled-button::after {
        content: '';
        position: absolute;
        top: 0;
        left: -75%;
        width: 150%;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);
        transform: skewX(-45deg);
        transition: left 0.5s;
    }

    .styled-button:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 15px rgba(98, 0, 234, 0.3);
    }

        .styled-button:hover::after {
            left: 100%;
        }

    .styled-button:active {
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba(98, 0, 234, 0.2);
    }


@keyframes rollDown {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 500px; 
        opacity: 1;
    }
}
.roll-down {
    overflow: hidden;
    animation: rollDown 0.5s ease-out forwards;
}
