.cool-looking-button {
    background-color: blue;
    border: groove;
    border-radius: 99px;
    color: white;
    padding: 10px 20px;
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.9s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .custom-button:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
