@page "/ChooseSource"
@rendermode InteractiveServer
<div style="">
<h3>Choose what source you want to use to fill up your list</h3>

<button>From file</button>
<button>From Api</button>
</div>
@code {

}
