@using BlazorClassLibrary
@using BlazorClassLibrary.Collections
@page "/showusers"
@rendermode InteractiveServer

@* @if (_loading)
{ *@
    <h1 style="font-family: Georgia;">@_loadingMessage</h1> 
@* } *@
@* else
{ *@
    <TableLab FilteredUsers="_filteredUsers" Users="_users" />
@* } *@

@code {

    public List<User> _users = new List<User>();
    public List<User> _filteredUsers = new List<User>();
    private string _loadingMessage = "";
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        ApiCollection api = new ApiCollection();
        // LoadData();
        _users = await api.GetUsersFromApi();
        _filteredUsers = _users;
    }
    private async Task LoadData()
    {
        _loading = true;  
        for (int i = 0; i < 7; i++)
        {
            StateHasChanged();
            if (i==0)
            {
                _loadingMessage = "Loading.";
                
                await Task.Delay(500);

            }

            else if (i==1)
            {

                _loadingMessage = "Loading. .";
               
                await Task.Delay(500);
                
            }
            else if (i==2)
            {
                _loadingMessage = "Loading. . .";
               
                await Task.Delay(500);
                
            }
            else if (i==3)
            {
                _loadingMessage = "Loading. . . .";
               
                await Task.Delay(500);
                
            }
            else if (i==4)
            {
                _loadingMessage = "Loading. . . .";
               
                await Task.Delay(500);
                
            }
            else if (i == 5)
            {
                _loadingMessage = "Loading. . . . .";
              
                await Task.Delay(500);
              
            }
            else if (i == 6)
            {
                _loadingMessage = "Loading. . . . . .";
               
                await Task.Delay(500);
                
            }

        }
        

        _loading = false; 
        StateHasChanged();
    }
}
