.loading-container {
    background-color: #f0f0f0;
    height: 98vh;
    position: relative;
    overflow: hidden;
}

.loading-text {
    position: absolute;
    font-size: 4rem;
    font-family: Georgia;
    animation: flyAround 5s infinite, swing 3s infinite, glow 2s infinite;
}

@keyframes flyAround {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(50px, 50px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes swingMonkeys {
    0% {
        transform: rotate(333deg);
    }

    50% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(99999deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate(333deg);
    }

    50% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(99999999deg);
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #666;
    }

    50% {
        text-shadow: 0 0 20px #666;
    }

    100% {
        text-shadow: 0 0 10px #666;
    }
}
