<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Menu</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateNewUser">
                <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Create a new user
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Table">
                <span class="bi bi-folder-symlink-fill" aria-hidden="true"></span> Show lists
            </NavLink>
        </div>

     @*    <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowUsersFromFile">
                <span class="bi bi-folder-symlink-fill" aria-hidden="true"></span> Fetch users from file
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="showusers">
                <span class="bi bi-cloud-download-fill" aria-hidden="true"></span> Fetch users from API
            </NavLink>
        </div> *@
    </nav>
</div>