@using BlazorClassLibrary
@using BlazorClassLibrary.Collections

<TableLab/>

@* @foreach (var person in users)
{

    <table>

        <tr>
			<td>@person.Name</td>
			<td>@person.UserName</td>
		</tr>
    </table>
    

    
} *@



@code {
    ApiCollection api = new ApiCollection();
    List<User> users = new List<User>();


    protected override async Task OnInitializedAsync()
    {
        await FetchUsers();
    }

    public async Task FetchUsers()
    {
        ApiCollection api = new ApiCollection();
        users = await api.GetUsers();
    }



}
